.cover__container{
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}
@media (max-width: 425px) {
    .cover__content {
      max-width: 288px;
    }
}