.intro {
    margin: 0 445px 92px 145px;
    max-width: 690px;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .intro {
        margin: 0 286px 92px 48px;
        max-width: 100%;
    }
}
@media (min-width: 546px) and (max-width: 768px) {
    .intro {
        margin: 0 auto 88px;
        max-width: 720px;
    }
}
@media (max-width: 545px) {
    .intro {
        margin: 0 auto 64px;
        max-width: 288px;
    }
}