.place__website {
    grid-area: URL;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-self: end;
    overflow: auto;
}
@media (max-width: 545px) {
    .place__website {
        margin-left: 16px;
    }
}